<ul class="credit-cards-list">
    <li>
        <img src="{{ 'american-express.svg' | asset_url }}" alt="American Express" />
    </li>
    <li>
        <img src="{{ 'visa.svg' | asset_url }}" alt="Visa" />
    </li>
    <li>
        <img src="{{ 'mastercard.svg' | asset_url }}" alt="Mastercard" />
    </li>
    <li>
        <img src="{{ 'discover-card.svg' | asset_url }}" alt="Discover Card" />
    </li>
</ul>