<div class="grid-changer">
    <div class="grid-changer-wrapper">
    
        <div class="crosshair">
            <span class="crosshair-icon">
                <img src="{{ 'crosshair.svg' | asset_url }}" alt="Change View" />
            </span>
        </div>

        <div class="pagination">
            <a href="{{ }}" title="Page 01">01</a> - <a href="/collections/all" title="Shop All">all</a>
        </div>

    </div>
</div>