<div class="throne--navbar">
  <div class="navbar-wrapper">
    <div class="logo">
      <a href="{{ '/' | escape }}" title="Home">
        <img src="{{ 'logo.svg' | asset_url }}" alt="Siberia">
      </a>
    </div>
    <div class="hamburger">
      <img src="{{ 'cart.gif' | asset_url }}" alt="Menu">
    </div>
  </div>
</div>
