<div class="newsletter-modal">
    <div class="newsletter-wrapper">

        <div class="action-bar">
            <div class="action-title">
                <span>newsletter</span>
            </div>                   
            <div class="newsletter-close" onClick={closeModal}>
                <span>&times;</span>
            </div>
        </div>

        <div class="newsletter-body">
            <div class="warning">
                <span>
                    WARNING: SEVERE NECESSITY,<br />
                    IMMEDIATE ACTION REQUIRED
                </span>
            </div>

            <div class="newsletter-form">
                <form>
                    <input type="email" placeholder="your email" />
                    <input type="submit" />
                </form>
            </div>
        </div>

    </div>
</div>

