.shop-component {

    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;

    .sale-indicator > span {
        position: absolute;
        left: -2.1rem;
        top: 0.2rem;
        background: var(--black);
        color: var(--red);
        padding: 3px 4px;
        font-style: italic;
        font-size: .74rem;
        letter-spacing: 1px;
        text-transform: lowercase;
    }

    .shop-component-wrapper {

        width: 100%;
        max-width: var(--thin);

        ul.products.grid {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            animation: popUp 0.5s ease-in-out;

            li.item {
                img {
                    max-width: 100%;
                }
    
                a {
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                }

                .product-data {

                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    gap: 8px;
    
                    .vendor {
                        span {
                            font-family: var(--mingliu);
                            font-size: 12px;
                        }
                    }
                    .name {
                        h3 {
                            margin: 4px 0 4px 0;
                            font-family: var(--mingliu);
                            font-size: 12px;
                        }
                    }

                }
            }

        }

        ul.products.list {
            animation: popUp 0.5s ease-in-out;

            li > .list-item-wrapper {
                display: grid;
                grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
                grid-gap: 20px;
                align-items: center;

                a { text-decoration: none; }

                a:hover { text-decoration: underline; }

                .image img {
                    width: 80px;
                    max-width: 100%;
                }

                .titles {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 20px;

                    .vendor {
                        span {
                            font-family: var(--mingliu);
                            font-size: 12px;
                        }
                    }
    
                    .name {
                        h3 {
                            margin: 4px 0 4px 0;
                            font-family: var(--mingliu);
                            font-size: 12px;
                        }
                    }

                }

                .price {
                    text-align: center;
                }

                .indicator-holder {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .colors {
                    display: flex;
                    justify-content: center;
                }
                .color-wrapper {
                    display: flex;
                    flex-direction: row;
                    gap: 12px;
                }

            }
        }

        .sale-indicator {
            background: var(--black);
            color: var(--red);
            font-style: italic;
            font-size: 10px;
            padding: 6px;
        }

    }

    .shop-component-wrapper[data-layout="grid"] {
        ul.products.grid { display: grid; }
        ul.products.list { display: none;}
    }
    .shop-component-wrapper[data-layout="list"] {
        ul.products.grid { display: none; }
        ul.products.list { display: grid;}
    }

}

.grid-changer {
    display: block;
    margin: 20px 0 80px 0;

    .grid-changer-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .crosshair {
            position: relative;
            cursor: pointer;

            img {
                width: 22px;
                height: 22px;
                position: absolute;
                transition: all 0.24s ease-in-out;
            }
        }
    }
}


@media screen and (max-width: 767px) {
    .shop-component .colors {
        display: none !important;
    }
    .shop-component .price {
        display: none !important;
    }

    .shop-component .titles {
        flex-direction: column;
        gap: 8px;
    }

    .shop-component .shop-component-wrapper ul.products.list li>.list-item-wrapper {    
        grid-template-columns:  1fr 2fr 1fr;
        grid-gap: 20px;
    }

    .shop-component .shop-component-wrapper ul.products.list li>.list-item-wrapper .titles {
        flex-direction: column;
    }
    .shop-component {

        .shop-component-wrapper {
            ul.products.grid {
                grid-template-columns: repeat(2, 1fr);
            }

        }

    }

    .grid-changer {
        margin: 16px 0 30px 0;
    }
}
