<div class="four-oh-four">
  <div class="four-oh-four-wrapper">
    <div class="words">
      <div>
        <h2>{{ '404' | escape }} / {{ 'ERROR' | escape }}</h2>
      </div>
    </div>
    <div class="images">
      <img src="{{ 'question-mark.png' | asset_url }}" alt="{{ '404' | escape }}" />
    </div>
  </div>
</div>